@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>TRATAMIENTO AL CUAL SERÁ SOMETIDOS LOS DATOS PERSONALES Y SU FINALIDAD <br>

Los datos personales de los titulares con los que cuenta LA COMPAÑÍA serán recolectados, utilizados, transmitidos, transferidos, almacenados y procesados para las siguientes finalidades:<br>

1. Dar respuesta a solicitudes de sugerencias, peticiones, quejas, reclamos y felicitaciones realizadas por los titulares.<br>

2. Trasmitir los datos personales de los titulares a los organismos de control y demás autoridades en caso que la ley lo requiera.<br>

3. Realizar actividades de mercadeo y/o promoción de productos y campañas comerciales que genere LA COMPAÑÍA.<br>

4. Realizar actividades de mercadeo y/o promoción de servicios de terceros con quien LA COMPAÑÍA haya celebrado alianzas comerciales.<br>

5. Enviar información sobre nuevos productos y servicios.<br>

6. Enviar información de campañas publicitarias<br>

7. Realizar estudios de definición de demanda y análisis de servicios prestados por LA COMPAÑÍA.<br>

8. Fortalecer las relaciones con consumidores y clientes, mediante el envío de información relevante y evaluación de la calidad del servicio.<br>

9. Mejorar, promocionar y desarrollar los productos y servicios de LA COMPAÑÍA. 10. Actualizar de datos y documentos de identificación.<br>
11. Facturación de servicios o productos adquiridos.<br>

12. Determinar las obligaciones pendientes, consultar información financiera e historia crediticia y el reporte a centrales de información de obligaciones incumplidas, respecto de sus deudores.<br>

13. Registrar los datos personales de los titulares en los sistemas de información de LA COMPAÑIA y en sus bases de datos comerciales y operativas.<br>

14. Conocer, atender y acatar recomendaciones médico laborales<br>

15. Desarrollar actividades propias del área de Gestión Humana como selección, contratación, evaluación de participantes en procesos de selección, verificación de referencias laborales y personales, realización de estudios de seguridad; así como la gestión de nómina, afiliaciones a entidades del sistema general de seguridad social, actividades de bienestar y salud ocupacional.<br>

16. Contratar beneficios laborales con terceros, tales como seguros de vida, gastos médicos, entre otros.<br>

17. Notificar a contactos autorizados en caso de emergencias durante el horario de trabajo o con ocasión del desarrollo del mismo.<br>

18. Controlar el acceso a las oficinas de LA COMPAÑÍA y salvaguardar la seguridad de las personas que se encuentren dentro de las mismas.<br>

19. Cualquier otra actividad de naturaleza similar a las anteriormente descritas que sean necesarias para desarrollar el objeto social de LA COMPAÑÍA.</p>
