@page
@model vistas.Pages.contactoModel
@{
     ViewData["Title"] = "Contacto";
}
<div class="etiqueta_2">
     <p>Telefono : 5555555555<br>Direccion : avenida siempre viva 742<br>Email : pizzatech@gmail.com</p>
</div>
