@page
@model PizzeriaPresentacion.Pages.contactoModel
@{
     ViewData["Title"] = "Contacto";
}
<div class="etiqueta_2">
     <br><br><br>
     <p>Telefono : 5555555555<br>Direccion : avenida siempre viva 742<br>Email : pizzatech@gmail.com</p>
     <img src="https://localhost:5001/imagenes/whatsapp.png">
     <img src="https://localhost:5001/imagenes/facebook.png">
</div>
