@page
@model PizzeriaPresentacion.Pages.inicioModel
@{
    ViewData["Title"] = "Inicio";
}
<div class="top">
    <p>PIZZA TECH</p>
    <p>Bienvenidos a su pizzeria artesanal<br><br></p>
</div>
<div class="etiqueta_1">
        <div><img src="https://localhost:5001/imagenes/pizza6.jpeg" alt="" width="450px" height="300px"></div>
        <div>
            <a class="navbar-brand" asp-area="" asp-page="/HMI/login"><button type="button" class="btn btn-primary">Iniciar sesion</button></a>
            <br><br><br>
            <a class="navbar-brand" asp-area="" asp-page="/HMI/registro"><button type="button" class="btn btn-primary">Registrarse</button></a>
        </div>
</div>

