@page
@model PizzeriaPresentacion.Pages.menuModel
@{
     ViewData["Title"] = "Menu";
}
<div class="top">
    <p>PIZZA TECH</p>
    <p>Escoge tu especialidad<br><br></p>
</div>
<div class="etiqueta_1">
     <div>
          <img src="https://localhost:5001/imagenes/pizza1.jpeg" alt="" width=250px" height="150px">
          <h5>Salami y anchoas</h5>
     </div>
     <div>
          <img src="https://localhost:5001/imagenes/pizza3.jpeg" alt="" width=250px" height="150px">
          <h5>Hawaiana</h5>
     </div>
     <div>
          <img src="https://localhost:5001/imagenes/pizza4.jpeg" alt="" width=250px" height="150px">
          <h5>Especial</h5>
     </div>
</div>

     <div class="etiqueta_1">
          <div>
                <img src="https://localhost:5001/imagenes/pizza5.jpeg" alt="" width=250px" height="150px">
                <h5>Jamon y champiñones</h5>
          </div>
           <div>
               <img src="https://localhost:5001/imagenes/pizza6.jpeg" alt="" width=250px" height="150px">
               <h5>Peperoni</h5>
           </div>
          <div>
                <img src="https://localhost:5001/imagenes/pizza7.jpeg" alt="" width=250px" height="150px">
                <h5>Vegetariana</h5>
          </div>
     </div>

<div class="etiqueta_1">
     <div>
          <img src="https://localhost:5001/imagenes/hambur1.jpeg" alt="" width=250px" height="150px">
          <h5>Vegetariana</h5>
     </div>
     <div>
          <img src="https://localhost:5001/imagenes/hambur2.jpeg" alt="" width=250px" height="150px">
          <h5>Angus</h5>
     </div>
     <div>
          <img src="https://localhost:5001/imagenes/hambur4.jpeg" alt="" width=250px" height="150px">
          <h5>Americana</h5>
     </div>
</div>

     <div class="etiqueta_1">
          <div>
                <img src="https://localhost:5001/imagenes/hambur5.jpeg" alt="" width=250px" height="150px">
                <h5>Todoterreno</h5>
          </div>
           <div>
               <img src="https://localhost:5001/imagenes/hambur6.jpeg" alt="" width=250px" height="150px">
               <h5>Media libra</h5>
           </div>
          <div>
                <img src="https://localhost:5001/imagenes/hambur7.jpeg" alt="" width=250px" height="150px">
                <h5>Cuarto de libra</h5>
          </div>
     </div>

<div class="etiqueta_1">
     <div>
          <img src="https://localhost:5001/imagenes/perro1.jpeg" alt="" width=250px" height="150px">
          <h5>Suizo</h5>
     </div>
     <div>
          <img src="https://localhost:5001/imagenes/perro2.jpeg" alt="" width=250px" height="150px">
          <h5>Mexicano</h5>
     </div>
     <div>
          <img src="https://localhost:5001/imagenes/perro3.jpeg" alt="" width=250px" height="150px">
          <h5>Americano</h5>
     </div>
</div>

     <div class="etiqueta_1">
          <div>
                <img src="https://localhost:5001/imagenes/perro4.jpeg" alt="" width=250px" height="150px">
                <h5>Callejero</h5>
          </div>
           <div>
               <img src="https://localhost:5001/imagenes/perro5.jpeg" alt="" width=250px" height="150px">
               <h5>Sencillo</h5>
           </div>
           <div>
               <img src="https://localhost:5001/imagenes/perro7.jpeg" alt="" width=250px" height="150px">
               <h5>Casaero</h5>
           </div>
     </div>
